/* You can add global styles to this file, and also import other style files */
body {
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.root1 {
  display: block;
}

.clock {
  width: 100vw;
  height: 5vh;
  background-color: black;
  color: white;
  font-size: 36px;
}

.picture {
  width: 100vw;
  height: 95vh;
  position: relative;
  background: url(./png/png3.jpg);
}

.pictureContent {
  color: yellow;
  font-size: 44px;
  z-index: 2;
  position: absolute;
  left: -45%;
  transition-duration: 2s;
}

.message {
  position: fixed;
  top: calc((100vh - 50vh) - 98px);
  left: calc((100vw - 50vw) - 280px);
  color: yellow;
  font-size: 33px;
  background-color: grey;
  width: 561px;
  height: 196px;
  z-index: 11;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-duration: .5s;
}

.pictureShadow {
  background-color: rgb(0 0 0 / 68%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.pictureFirstContent1 {
  top: 25%; 
  left: calc((100vw - 50vw) - 412px);
}

.pictureFirstContent2 {
  top: 38%; 
  left: calc((100vw - 50vw) - 336px);
}

.pictureFirstContent3 { 
  top: 58%; 
  left: calc((100vw - 50vw) - 275px);
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  width: 550px;
  position: relative;
}

.button {
  background-color: #795548bf;
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9800;
  border-radius: 35px;
  cursor: pointer;
  transition-duration: .2s;
  position: absolute;
  top: 0px;
}

.button:hover {
  box-shadow: 0px 10px 13px #795548bf; top: -5px;;
}

.button:active {
  box-shadow: 0px 5px 8px #795548bf; top: 0px;
}

.buttonLogIn {
  left: 360px;
}

@media (orientation: landscape) and (min-width: 800px) and (max-width: 1300px) {
  .clock {
      padding-left: 15px;
      font-size: 10vh;
      width: 80%;
      height: 10vh;
  }

  .picture {
      background: url(./png/png3.jpg) repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .message {
      top: calc((100vh - 50vh) - 94px);
      left: calc((100vw - 50vw) - 225px);
      width: 450px;
      height: 188px;
      font-size: 26px;
  }

  .pictureContent {
      position: relative;
      top: 0px;
      left: 0px;
      text-align: center;
      padding: 0px 15px;
      font-size: 28px;
  }

  .buttonWrapper {
      display: flex;
      width: 229px;
      position: relative;
      top: 0px;
      left: 0px;
      flex-direction: column;
      align-items: center;
      height: 130px;
  }

  .button {
      position: relative;
      top: 0px;
      left: 0px;
  }
}

@media (orientation: portrait) and (min-width: 480px) and (max-width: 900px) {
  .clock {
      padding-left: 15px;
      font-size: 5vh;
      width: 80%;
  }

  .picture {
      background: url(./png/png3.jpg) repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  } 

  .message {
      top: calc((100vh - 50vh) - 94px);
      left: calc((100vw - 50vw) - 225px);
      width: 450px;
      height: 188px;
      font-size: 26px;
  }

  .pictureContent {
      position: relative;
      top: 0px;
      left: 0px;
      text-align: center;
      padding: 0px 15px;
      font-size: 28px;
  }

  .buttonWrapper {
      display: flex;
      width: 229px;
      position: relative;
      top: 0px;
      left: 0px;
      flex-direction: column;
      align-items: center;
      height: 169px;
  }

  .button {
      position: relative;
      top: 0px;
      left: 0px;
  }
}

@media (orientation: landscape) and (min-width: 650px) and (max-width: 900px) {
  .clock {
      padding-left: 15px;
      font-size: 10vh;
      width: 80%;
      height: 10vh;
  }

  .picture {
      background: url(./png/png3.jpg) repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }

  .message {
      top: 110px;
      left: 144px;
      font-size: 19px;
  }

  .pictureContent {
      position: relative;
      top: 0px;
      left: 0px;
      text-align: center;
      padding: 0px 15px;
      font-size: 28px;
  }

  .buttonWrapper {
      display: flex;
      width: 229px;
      position: relative;
      top: 0px;
      left: 0px;
      flex-direction: column;
      align-items: center;
      height: 130px;
  }

  .button {
      position: relative;
      top: 0px;
      left: 0px;
  }
}

@media (orientation: portrait) and (min-width: 320px) and (max-width: 475px) {
  .clock {
      padding-left: 15px;
      font-size: 5vh;
      width: 80%;
  }

  .picture {
      background: url(./png/png3.jpg) repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  } 

  .message {
      top: 298px;
      left: calc((100vw - 50vw) - 155px);
      width: 310px;
      height: 126px;
      font-size: 19px;
  }

  .pictureContent {
      position: relative;
      top: 0px;
      left: 0px;
      text-align: center;
      padding: 0px 15px;
      font-size: 28px;
  }

  .buttonWrapper {
      display: flex;
      width: 229px;
      position: relative;
      top: 0px;
      left: 0px;
      flex-direction: column;
      align-items: center;
      height: 169px;
  }

  .button {
      position: relative;
      top: 0px;
      left: 0px;
  }
}